@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100%; 
    /* vh  */
    margin: 0;
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-color: rgb(48, 62, 81);
}

/* Header Part of the Site */

.Top {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(10, 27, 51);
}

.NavBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.NavBar button {
    color: white;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    border: 0;
}

.Logo {
    padding: 10px;
    width: 100%;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 30px;
}

/* Second Section of the Page */

.Introduction {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: white;
    text-align: left;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 38, 71);
}

.Left {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Left p {
    font-size: 16px;
}

.Left button {
    color: white;
    background-color: rgb(0, 140, 255);
    text-align: center;
    padding: 13px;
    width: 140px;
    border-style: none;
    border-radius: 6px;
}

.Introduction img {
    height: 300px;
    width: 500;
    border-radius: 18px;
    border: 5px solid rgb(0, 140, 255);
}

/* InfoCard Part of the Site */

.InfoCards {
    width: 100%;
    background-color: rgb(10, 27, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.InfoCards h1 {
    padding: 20px;
    color: white;
}

.CardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Images {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.Images img {
    border: 4px solid rgb(0, 140, 255);
    border-radius: 18px;
    width: 370px;
    height: auto;
}

.CardText {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.CardText p {
    width: 370px;
    height: auto;
    color: white;
    margin-bottom: 100px;
}

/* Quote Part of the Site */

.Quote {
    width: 100%;
    height: 500px;
    background-color: rgb(48, 62, 81);
    color: white;
    display: flex;
    flex-direction: column;
}

.Quote p {
    align-items: center;
}

.Quote div {
    justify-content: right;
}

/* Bottom Part of the Site */

.Bottom {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 27, 51);
    color: white;
}