@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100%; 
    margin: 0;
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-color: rgb(48, 62, 81);
}

/* Header Part of the Site */

.Top {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(10, 27, 51);
}

.NavBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.NavBar button {
    color: white;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    border: 0;
    overflow: hidden;
}

.Logo {
    padding: 10px;
    width: 100%;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 30px;
}

/* Second Section of the Page */

.Introduction {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    color: white;
    text-align: left;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 38, 71);
}

.Left {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
}

.Left p {
    padding-bottom: 20px;
    font-size: 16px;
}

.Left button {
    color: white;
    background-color: rgb(0, 140, 255);
    text-align: center;
    padding: 13px;
    width: 140px;
    border-style: none;
    border-radius: 6px;
}

.Introduction img {
    height: 300px;
    width: 500;
    border-radius: 18px;
    border: 5px solid rgb(0, 140, 255);
}

/* InfoCard Part of the Site */

.InfoCards {
    width: 100%;
    background-color: rgb(10, 27, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.InfoCards h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
}

.CardContainer {
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.Card img {
    width: 350px;
    height: auto;
    border: 5px solid blue;
    border-radius: 17px;
}

.Card p {
    width: 300px;
    height: auto;
    text-align: center;
    color: white;
}

/* Quote Part of the Site */

.Quote {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    background-color: rgb(14, 38, 71);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.QuoteContainer {
    background-color: rgb(10, 27, 51);
    padding: 30px;
    border-radius: 17px;
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;

}

.QuoteContainer p {
    font-size: 35px;
    text-align: left;
}

.QuoteContainer div {
    font-size: 19px;
    text-align: right;
    height: auto;
}

/* Bottom Part of the Site */

.Bottom {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 27, 51);
    color: white;
}